<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assigned Items</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<a href="{{ url_for('admin_dashboard') }}" class="logout">Back to Dashboard</a>
<header>

    <h1 align="center">Assigned Items</h1>
    </header>
    <table class="center-table">
        <thead>
            <tr>
                <th>Item Id</th>
                <th>Item Name</th>
                <th>Item type</th>
                <th>Item Status</th>
                <th>Warranty Period<br>(In years)</th>

            </tr>
        </thead>
        <tbody>
            {% for item in assigned_items %}
            <tr>
                <td>{{ item.item_id }}</td>
                <td>{{ item.item_name }}</td>
                <td>{{ item.item_type }}</td>
                <td>{{ item.item_status }}</td>
                <td>{{ item.warranty_period }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>