<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
     <a href="{{ url_for('logout') }}" class="logout">Logout</a>
    <header>
        <h1>Welcome, {{ user.name }}</h1>

    </header>
    <main>
        <section id="assigned-items">
            <h2 align="center">Your Assets</h2>
            {% if assigned_items %}
                <table class="center-table">
                     <tr><td>Item Id </td> <td> Item Name</td> <td>Item Type </td> <td> Warranty period <br>  (In years)</td></tr>
                    {% for item in assigned_items %}
                        <tr><td> {{ item.item_id }}  </td> <td> {{ item.item_name }}</td> <td> {{ item.item_type }}  </td> <td> {{ item.warranty_period }}  </td></tr>
                    {% endfor %}
                </table>
            {% else %}
                <p align="center">No Assets Assigned</p>
            {% endif %}
        </section>
    </main>
</body>
</html>