<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="text-align: center;">
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <table class="center-table">
        <tr>
         <td>   {{ form.email.label }}  </td>
         <td>   {{ form.email(size=32) }}  </td>
        </tr>
        <tr>

          <td>  {{ form.password.label }}  </td>
          <td>  {{ form.password(size=32) }}  </td>

        </tr>
        </table>
        <div>
            <!-- {{ form.submit() }} -->
            <input type="submit" value="Submit" class="button">
        </div>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>
</body>
</html>