<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Bills</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <a href="{{ url_for('admin_dashboard') }}" class="logout">Back to Dashboard</a>
 <header>
    <h1 align="center">Total Bills</h1>
     </header>
    <table class="center-table">
        <thead>
            <tr>
                <th>Bill Number</th>
                <th>Bill Date</th>
                <th>Bill Amount</th>
                <th>Number of Items</th>
                <th>Admin ID</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
            <tr>
                <td>{{ bill.bill_number }}</td>
                <td>{{ bill.bill_date }}</td>
                <td>{{ bill.bill_amount }}</td>
                <td>{{ bill.no_of_items }}</td>
                <td>{{ bill.admin_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>